.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #a50c0c !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.breadcrumb li a{
  margin-right: 10px;

}

.f-text-white{
  color: #ffffff !important;
}
ul .breadcrumb li :nth-child(n+2):before {
      content: "/" !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ebf0f5  !important;
    background-color: #0d0e0c  !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: transparent !important;
}


.form-group.field-entrysearchpayment-reference_no > label.control-label,
.form-group.field-entrysearchpayment-amount > label.control-label,
.form-group.field-entrysearchpayment-description > label.control-label,
.form-group.field-entrysearchpayment-type > label.control-label,
 {
    font-weight:normal;
    padding-left: 5px;
    padding-right: 5px;
}

.remove_default_class_n_padding{
    font-weight:normal;
    padding-left: 5px;
    padding-right: 5px;
    font-size:12px;
}

.section__content--p30 {
    background-color: #000000;
}

.menu-sidebar {
    background: #000000;
}

.section__content--cp30,
.page-container,
footer.footer {
    background-color: #21252b;
    color: white;
}

.menu-sidebar {
    overflow-y: none;
}




