@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura/futura_book_font-webfont.woff2') format('woff2'),
         url('../fonts/futura/futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regular';
    src: url('../fonts/bebas/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #21252b;
    font-family: futura_bk_btbook, sans-serif;
    font-size: 15px;        
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #a50c0c !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* change background color of filter form on student index */
.student-search {
    background-color: transparent !important;
    padding: 2px;
}
/* hide scroll bar on dashboard */
.menu-sidebar {
    overflow-y: hidden;
}

/* change breadcrumb color */
ul#student__breadcrumb {
    background-color: #21252b;
    color:white;
}

/* create delyork */
.btn-danger{
    color: #fff;
    background-color: #A40000;
    border-color: #A40000;
}

.btn-danger-tag{
    color: #fff;
    background-color: #A40000;
    border-color: #A40000;
    border-radius:25px;
    width: 100px;
}

/* utility classes for display */
.mt-25{
    margin-top:25px;
}

.mt-130{
    margin-top:130px;
}

/* Table Styles */
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 5px solid transparent;
    padding: 5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #21252b;
    color: white;
}

input.student_tagging {
    height: 30px;
    width: 20px;
}

#table__card{
    padding:0;
}

.table-bordered>thead>tr>th{
    color:white;
    border-bottom:1px solid red;
}

/* bebas font to profile box */
.bebas_neue{
    font-family: bebas_neue_regular, sans-serif;
}

.futura_bk{
    font-family: futura_bk_btbook, sans-serif;
}

/* student list view display*/
.card-deck .card {
    background-color: transparent;
    border: none;
}

/* change background color of student view on admin */
.card-body.card__body {
    background-color: #21252b;
}

/* adjust margin of filter on student form */
.student-search {
    margin-bottom: 20px;
}

table.table.table-striped.table-bordered {
    color: black;
}

/* adjus */
#studentsearch-first_name{
    height:25px !important;
  }
  
  /* adjust summary on student->index */
  .summary{
    padding: 20px;
    margin-left: 40%;
      color:black;
  }
  
  /* adjust pagination on students->index */
  ul.pagination {
      margin-left: 40%;
  }

.breadcrumb li a{
  margin-right: 10px;

}

.f-text-white{
  color: #ffffff !important;
}
ul .breadcrumb li :nth-child(n+2):before {
      content: "/" !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ebf0f5  !important;
    background-color: #0d0e0c  !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: transparent !important;
}

.form-group.field-entrysearchpayment-reference_no > label.control-label,
.form-group.field-entrysearchpayment-amount > label.control-label,
.form-group.field-entrysearchpayment-description > label.control-label,
.form-group.field-entrysearchpayment-type > label.control-label,
 {
    font-weight:normal;
    padding-left: 5px;
    padding-right: 5px;
}

.remove_default_class_n_padding{
    font-weight:normal;
    padding-left: 5px;
    padding-right: 5px;
    font-size:12px;
}

.section__content--p30 {
    background-color: #000000;
}

.menu-sidebar {
    background: #000000;
}

.section__content--cp30,
.page-container,
.navbar-mobile-sub__list, 
footer.footer {
    background-color: #21252b;
    color: white;
}

.menu-sidebar {
    overflow-y: none;
}



