.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #a50c0c !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.breadcrumb li a{
  margin-right: 10px;

}
ul .breadcrumb li :nth-child(n+2):before {
      content: "/" !important;
}
